{% extends 'micro-post/base.html.twig' %}

{% block body %}
{% for message in app.flashes('notice') %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

<h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
{% for post in posts %}
	{{ include('micro-post/raw-post.html.twig', { 'post': post }) }}
{% endfor %}
{% endblock %}