{% extends 'micro-post/base.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-body">
		<h5>Unread Notifications</h5>
	</div>
	<ul class="list-group list-group-flush">
		{% for notification in notifications %}
		<li class="list-group-item">
			{% if notification is like %}
			<a href="{{ path('micro_post_user', {'username': notification.likedBy.username}) }}">{{ notification.likedBy.fullName }}</a>
			likes your
			<a href="{{ path('micro_post_post', {'id': notification.microPost.id}) }}">post</a>.
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}